/***************************** 
MOBILE FIRST
*****************************/

/* GENERAL */
body {
    font-size: 16px;
}

/* UTILITIES */
.bg-grey {
    background-color: #f3f5f9;
}

.small-text {
    font-size: 13px;
}

.fz-20 {
    font-size: 20px;
}

.circle {
    font-size: 10px;
    color: #006aff;
}

/* HEADER */
.header {
    line-height: 60px;
}

.header .row div:last-child {
    display: none;
}

.header .row img {
    width: 165px;
}

.header .row .fa-bars {
    font-size: 20px;
    color: #3a8aff;
}

.header .row ul {
    display: none;
}

/* MAIN */
/* Hero */
.hero {
    padding: 50px 0;
    color: #bbccfe;
    background-image: url(../img/bg-banner-home.jpg);
}

.hero h1 {
    padding-top: 20px;
    font-size: 45px;
    color: #fff;
}

.hero .background {
    padding: 30px 15px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

.hero button {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.hero .background form {
    position: relative;
}

.btn-primary {
    background-color: #579aff;
    border-color: transparent;
}

.btn-default {
    margin-top:10px;
    margin-bottom: 20px;
    border-color: transparent;
}

.hero .background :nth-child(2) {
    color: #006aff;
}


.hero .background img {
    width: 20px;
    position: absolute;
    left: 10px;
    bottom: 25px;
}

/* Logo's */
.logos {
    padding: 30px 0 20px;
}

.logos .image {
    padding: 40px 0;
}

.logos img {
    width: calc(100% / 2 - 10px);
    padding: 0 15px;
}

.text-pc {
    color: #6f7b97;
}

/* Deploy */
.deploy {
    padding: 70px 0;
}

.deploy .row.primary {
    padding-top: 65px;
}

.deploy ul {
    padding-left: 10px;
    margin-bottom: 20px;
    line-height: 45px;
    list-style: none;
    border-left: 1px solid #5c6a88;
}

.deploy p,
.deploy ul {
    color: #5c6a88;
}

/* Designed */
.designed {
    padding: 70px 0;
}

.designed p:not(.small-text) {
    padding: 25px 0 50px;
}

.designed p.small-text {
    padding: 20px 0 60px;
}

.designed img {
    width: 50%;
}


