/***************************** 
MOBILE FIRST
*****************************/

/* GENERAL */
body {
    font-size: 16px;
}

/* UTILITIES */
.bg-grey {
    background-color: #f3f5f9;
}

.bg-blue {
    background-color: #031c4e;
}

.bg-gradient {
    background: linear-gradient(#0048c5, #001e99);
}

.small-text {
    font-size: 13px;
}

.fz-20 {
    font-size: 20px;
}

.circle {
    font-size: 10px;
    color: #006aff;
}

/* HEADER */
.header {
    line-height: 60px;
}

.header .row div:last-child {
    display: none;
}

.header .row img {
    width: 165px;
}

.header .row .fa-bars {
    font-size: 20px;
    color: #3a8aff;
}

.header .row ul {
    display: none;
}

.header .row li:hover a,
.header .row li:hover i {
    color:  #3a8aff;
}

.header .row ul {
    margin-bottom: 0;
}

/* MAIN */
/* Hero */
.hero {
    padding: 50px 0;
    color: #bbccfe;
    background-image: url(../img/bg-banner-home.jpg);
}

.hero h1 {
    padding-top: 20px;
    font-size: 45px;
    color: #fff;
}

.hero .background {
    padding: 30px 15px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

.hero button {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.hero .background form {
    position: relative;
}

.btn-primary {
    background-color: #579aff;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #2e7ff9;
    border-color: transparent;
}

.btn-default {
    margin-top:10px;
    margin-bottom: 20px;
    border-color: transparent;
}

.btn-default:hover {
    margin-top:10px;
    margin-bottom: 20px;
    border-color: transparent;
}

.hero .background :nth-child(2) {
    color: #006aff;
}


.hero .background img {
    width: 20px;
    position: absolute;
    left: 10px;
    bottom: 25px;
}

/* Logo's */
.logos {
    padding: 30px 0 20px;
}

.logos .image {
    padding: 40px 0;
}

.logos li {
    display: inline-block;
    width: calc(100% / 2 - 10px);
    line-height: 135px;
    border-bottom: 5px solid transparent;
}

.logos li:hover {
    border-bottom: 5px solid #3a8aff;
}

.text-pc {
    color: #6f7b97;
}

/* Deploy */
.deploy {
    padding: 70px 0;
}

.deploy .row.primary {
    padding-top: 65px;
}

.deploy ul {
    padding-left: 10px;
    margin-bottom: 20px;
    line-height: 45px;
    list-style: none;
    border-left: 1px solid #5c6a88;
}

.deploy p,
.deploy ul {
    color: #5c6a88;
}

.deploy a {
    color: #333;
}

.deploy a:hover {
    color: #3a8aff;
    text-decoration: none;
}

/* Designed */
.designed {
    padding: 70px 0;
}

.designed p:not(.small-text) {
    padding: 25px 0 50px;
}

.designed p.small-text {
    padding: 20px 0 60px;
}

.designed img {
    width: 50%;
}

/* Business */
.business {
    padding: 70px 0;
}

.business h2 {
    padding-bottom: 30px;
}

.business img {
    padding: 20px 0 10px;
}

/* Service */
.service {
    padding: 60px 0;
    color: #fff;
}

.service h2 {
    padding-bottom: 10px
    
}

.service .top-pc td {
    border-top: 0;
}

.service a {
    color: #00bfcd;
}

.service a:focus, a:hover {
    color: #00bfcd;
}

/* Development */
.development {
    padding: 70px 0;
}

.development h2 {
    padding-bottom: 100px;
}

.development .box {
    display: inline-block;
    width: 50%;
    padding: 65px 0;
    background-color: #fff;
    border-radius: 5px;
}

.development img {
    max-width: 100%;
}

.development p {
    margin: 20px 0 10px;
}

.development .pd-pc {
    padding-bottom: 20px;
}

.development .circle {
    padding-top: 30px;
}

/* Started */
.started {
    padding: 70px 0 50px;
    color: #fff;
}

.started h2 {
    margin: 0;
    padding-bottom: 30px;
}

.started .btn-pc {
    color: #006aff;
    background-color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
}

.started .btn.btn-pc:hover {
    background-color: #006aff;
}

.started .btn.btn-pc:hover a {
    color: #fff;
    text-decoration: none;
}

/* FOOTER */
.footer {
    padding: 60px 0;
    color: #828ca3;
}

.footer a {
    color: #828ca3;
}

.footer i {
    font-size: 24px;
}

.footer img {
    padding-bottom: 10px;
}

.footer .list-1 {
    padding: 15px 0;
}

.footer .list-2 li a {
    line-height: 32px;
}

.footer .text-grey {
    color: #5a6887;
}

.footer .text-white {
    color: #fff;
}

.footer .list-1 li:hover i {
    color: #3a8aff;
}

.footer .list-2 li:hover a {
    color: #3a8aff;
    text-decoration: none;
}
